In [1]:
import pandas as pd

In [4]:
file_path= 'Appol Datos.xlsx'

datos = pd.read_excel(file_path,sheet_name="Tabla Datos")
productos = pd.read_excel(file_path,sheet_name="Tabla Productos")

In [5]:
datos

,Periodo,Tipo Producto,Region,Ingresos,Gastos
0,Q1 2017,Accesorios,AGO - África/Angola,66319.703782,56708.152509
1,Q1 2017,Aplicaciones,AGO - África/Angola,122357.282946,77039.770744
2,Q1 2017,Celulares,AGO - África/Angola,265278.815126,215226.208498
3,Q1 2017,Musica,AGO - África/Angola,130447.020661,86964.680441
4,Q1 2017,PC,AGO - África/Angola,394602.237500,326567.368966
...,...,...,...,...,...
4699,Q4 2019,Celulares,NZL - Oceanía/Nueva Zelanda,47516.938982,41006.107343
4700,Q4 2019,Musica,NZL - Oceanía/Nueva Zelanda,26290.625226,15057.358084
4701,Q4 2019,PC,NZL - Oceanía/Nueva Zelanda,99027.767437,83854.981129
4702,Q4 2019,Tablets,NZL - Oceanía/Nueva Zelanda,16346.893049,13292.605137
4703,Q4 2019,TV,NZL - Oceanía/Nueva Zelanda,6571.491561,4343.310186

In [6]:
productos

  Tipo Producto Categoria Producto
0        Musica            Digital
1            TV            Digital
2  Aplicaciones            Digital
3            PC       Dispositivos
4     Celulares       Dispositivos
5       Tablets       Dispositivos
6    Accesorios       Dispositivos

In [7]:
datos[['Qs', 'Año']] = datos['Periodo'].str.extract(r'(Q\d)\s+(\d{4})')

In [8]:
datos

,Periodo,Tipo Producto,Region,Ingresos,Gastos,Qs,Año
0,Q1 2017,Accesorios,AGO - África/Angola,66319.703782,56708.152509,Q1,2017
1,Q1 2017,Aplicaciones,AGO - África/Angola,122357.282946,77039.770744,Q1,2017
2,Q1 2017,Celulares,AGO - África/Angola,265278.815126,215226.208498,Q1,2017
3,Q1 2017,Musica,AGO - África/Angola,130447.020661,86964.680441,Q1,2017
4,Q1 2017,PC,AGO - África/Angola,394602.237500,326567.368966,Q1,2017
...,...,...,...,...,...,...,...
4699,Q4 2019,Celulares,NZL - Oceanía/Nueva Zelanda,47516.938982,41006.107343,Q4,2019
4700,Q4 2019,Musica,NZL - Oceanía/Nueva Zelanda,26290.625226,15057.358084,Q4,2019
4701,Q4 2019,PC,NZL - Oceanía/Nueva Zelanda,99027.767437,83854.981129,Q4,2019
4702,Q4 2019,Tablets,NZL - Oceanía/Nueva Zelanda,16346.893049,13292.605137,Q4,2019
4703,Q4 2019,TV,NZL - Oceanía/Nueva Zelanda,6571.491561,4343.310186,Q4,2019

In [15]:
region_split = datos['Region'].str.extract(r'-\s*(.*?)\/(.*)')

# Crear las nuevas columnas
datos['Continente'] = region_split[0].str.strip().str.capitalize()  # Ej: "África"
datos['Pais'] = region_split[1].str.strip().str.capitalize()        # Ej: "Angola"

In [20]:
datos

,Tipo Producto,Ingresos,Gastos,Qs,Año,Continente,Pais,Categoria Producto
0,Accesorios,66319.703782,56708.152509,Q1,2017,África,Angola,Dispositivos
1,Aplicaciones,122357.282946,77039.770744,Q1,2017,África,Angola,Digital
2,Celulares,265278.815126,215226.208498,Q1,2017,África,Angola,Dispositivos
3,Musica,130447.020661,86964.680441,Q1,2017,África,Angola,Digital
4,PC,394602.237500,326567.368966,Q1,2017,África,Angola,Dispositivos
...,...,...,...,...,...,...,...,...
4699,Celulares,47516.938982,41006.107343,Q4,2019,Oceanía,Nueva zelanda,Dispositivos
4700,Musica,26290.625226,15057.358084,Q4,2019,Oceanía,Nueva zelanda,Digital
4701,PC,99027.767437,83854.981129,Q4,2019,Oceanía,Nueva zelanda,Dispositivos
4702,Tablets,16346.893049,13292.605137,Q4,2019,Oceanía,Nueva zelanda,Dispositivos
4703,TV,6571.491561,4343.310186,Q4,2019,Oceanía,Nueva zelanda,Digital

In [17]:
datos = datos.drop(columns=['Region'])

In [19]:
datos = datos.merge(productos, on="Tipo Producto", how="left")

In [21]:
output_file_path = 'Tabla_Datos_Modificada.xlsx'
datos.to_excel(output_file_path, index=False)

print(f'✅ Archivo guardado en: {output_file_path}')

✅ Archivo guardado en: Tabla_Datos_Modificada.xlsx